body.gameBackground {
	background: #4b343f url('http://angarak.com/MMHK/img/skin/inferno/body_bg.jpg') no-repeat center top;
}

#Container {
	height: 684px;
	width: 1032px;
}

#Container>.leftContainer {
	background: rgba(0, 0, 0, 0.7) url('http://angarak.com/MMHK/img/skin/inferno/toolbar_bg.jpg') no-repeat bottom left;
	padding: 4px 4px 34px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#Container>.rightContainer {
	background: rgba(0, 0, 0, 0.7);
	padding: 4px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

#Container>.leftContainer {
	margin-right: 10px;
}

#Container>.toolbarBg {
	display: none;
}

.sidebarTopContainer {
	background: transparent;
	color: #fff2e5;
}

#ChatContainer {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	height: 24px;
	padding: 4px 5px;
	width: 321px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius:  0 0 6px 6px;
}

#ChatContainer>div {
	height: 24px;
	margin-left: 3px;
	position: relative;
}

#ChatContainer .chatsystemmincontainer {
	bottom: 0;
	right: 0;
}

#ChatContainer .chatsystemmincontainer.chatsnaparea {
	border-color: #f4dc9c;
	color: #f4dc9c;
}

#ChatContainer .chatsystemmincontainer.chatsnaparea .chatdragmessage {
	color: #f4dc9c;
}

#ChatContainer .chatsystemmincontainer.chatsnaparea,
#ChatContainer .chatsystemmincontainer.chatactivesnaparea {
	border-width: 1px;
	height: 24px;
}

#ChatContainer .chatsystem {
	bottom: -24px;
	right: -318px;
}

.worldMap_zoom1 {
	background-image: url('http://angarak.com/MMHK/img/skin/inferno/zoom1_bg.jpg');
	height: 552px;
}

.worldMap_zoom2 {
	background-image: url('http://angarak.com/MMHK/img/skin/inferno/zoom2_bg.jpg');
	height: 552px;
}

.regionMap {
	background-image: url('http://angarak.com/MMHK/img/skin/inferno/region_bg.jpg');
	height: 552px;
}

.cityViewCityNameTop {
	background-image: url('http://angarak.com/MMHK/img/skin/inferno/container_bg.jpg');
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-radius-topleft: 4px;
	-webkit-border-radius-topright: 4px;
}

.cityViewCityNameContentBg {
	background-image: url('http://angarak.com/MMHK/img/skin/inferno/metal.jpg');
}

.cityViewCityNameEditCost span {
	background-color: rgba(255, 255, 255, 0.6);
	color: #000000;
	font-weight: bolder;
}

#SideBarContainer,
#SideBarContainer .metal {
	background: transparent;
}

#SideBarContainer .sideBarTopContainer {
	background: transparent;
	color: #fff2e5;
}

#SideBarContainer .sideBarBorderLeft {
	display: none;
}

#SideBarContainer .sideBarContent {
	width: 303px;
}

#SideBarContainer .sideBarContent>.referralFriendSideBarImg,
#SideBarContainer .sideBarContent>.regionCityDOMINATION,
#SideBarContainer .sideBarContent>.regionCityWEALTH,
#SideBarContainer .sideBarContent>.regionCityHONOR {
	display: none;
}

#SideBarContainer .sideBarSpacer {
	height: 0;
}

.regionCity {
	background: transparent;
}

.regionCity>div[id$=View] {
	background: url('http://angarak.com/MMHK/img/skin/inferno/metal.jpg');
	border: 2px ridge #fff2e5;
	display: inline-block;
	color: #222222;
	margin: 6px 2px;
	padding-bottom: 5px;
	width: 292px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.regionCityRightPart {
	width: 220px;
}

.regionCityName {
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	line-height: 16px;
	margin: 6px 0;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.regionCitySummaryViewUnitStackList .unitStack .boldFont {
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.unitStackTooltipHelp {
	display: none;
}

.unitStackDroppableZone {
	background: #222222;
	border: 1px solid #fff2e5;
}

.citySeparator {
	height: 0;
}

.regionCityCompleteViewContent {
	background: transparent;
	width: 292px;
}

.regionCityCompleteViewContent>.relativePosition {
	display: inline-block;
	width: 217px;
}

.regionCityCompleteViewContent>.relativePosition>* {
	margin-left: 0;
}

.regionCityCompleteViewContent div[id$=CompleteViewRegionCityName] {
	background-color: rgba(255, 255, 255, 0.6);
	color: #000000;
	margin: 6px 0;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


.regionCityCompleteViewContent .unitStackQuantitySplitable {
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.regionCityCompleteViewRessourceStackList {
	background: url('http://angarak.com/MMHK/img/skin/inferno/lava-dark.jpg') 50% 50%;
	width: 219px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.regionCityRessourceStackGoldZone {
	border-bottom: 1px solid #fff2e5;
	border-right: 1px solid #fff2e5;
	height: 30px;
	width: 91px;
}

.regionCityRessourceStackCommonZone {
	border-bottom: 1px solid #fff2e5;
	border-right: 1px solid #fff2e5;
	height: 30px;
	width: 45px;
}

.regionCityRessourceStackRareZone {
	border-right: 1px solid #fff2e5;
	width: 45px;
}

.regionCity .heroClassicView {
	background: transparent;
	border-bottom: 3px ridge transparent;
	border-top: 3px ridge transparent;
	height: 75px;
	margin: 4px 0;
	width: 292px;
}

.regionCity .heroClassicView:hover,
.regionCity .heroClassicView.selectedHero {
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom-color: #222222;
	border-top-color: #222222;
}

.regionCity .sideBarSeparatorH3 {
	background: none;
	height: 0;
	margin: 0;
	width: 292px;
}

.regionCityShortcuts,
.regionCityShortcuts.selected {
	background: url('http://angarak.com/MMHK/img/skin/inferno/city_shortcuts.gif') !important;
	left: -53px;
	width: 57px;
}

.regionCity .heroClassicView.selectedHero .sideBarSeparatorH3 {
	border-bottom-color: #222222;
	border-top-color: #222222;
}

.regionCity .heroClassicView .heroName {
	background-color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	line-height: 12px;
	margin: 3px 0;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.regionCity .heroClassicView:hover .heroName,
.regionCity .heroClassicView.selectedHero .heroName {
	color: #000000;
}

.regionCity .heroClassicView .heroUnitStackPatrolImage:nth-of-type(2) {
	background-position: -52px -11px !important;
}

.regionCity .heroClassicView:hover .heroUnitStackPatrolImage:nth-of-type(2),
.regionCity .heroClassicView.selectedHero .heroUnitStackPatrolImage:nth-of-type(2) {
	background-position: -52px 0 !important;
}

.regionCity .heroClassicView .heroUnitStackActionImage:nth-of-type(3) {
	background-position: 0 -11px !important;
}

.regionCity .heroClassicView:hover .heroUnitStackActionImage:nth-of-type(3),
.regionCity .heroClassicView.selectedHero .heroUnitStackActionImage:nth-of-type(3) {
	background-position: 0 0 !important;
}

.regionCity .heroClassicView .heroUnitStackActionImage:nth-of-type(3):hover {
	background-position: -13px 0px !important;
}

.regionCity .heroClassicView .heroUnitStackActionImage:nth-of-type(4) {
	background-position: -26px -11px !important;
}

.regionCity .heroClassicView:hover .heroUnitStackActionImage:nth-of-type(4),
.regionCity .heroClassicView.selectedHero .heroUnitStackActionImage:nth-of-type(4) {
	background-position: -26px 0 !important;
}

.regionCity .heroClassicView .heroUnitStackActionImage:nth-of-type(4):hover {
	background-position: -39px -11px !important;
}

.regionCity .heroClassicView .unitStackDroppableZone {
	margin: 0 2px;
}

.regionCity .heroClassicView .unitStackQuantitySplitable {
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.regionCity .heroClassicView:hover .unitStackQuantitySplitable,
.regionCity .heroClassicView.selectedHero .unitStackQuantitySplitable {
	color: #000000;
}

.heroShortcuts,
.heroShortcuts.selected {
	background: url('http://angarak.com/MMHK/img/skin/inferno/hero_shortcuts.gif');
	left: -53px;
}

.regionCity .titleSideBar {
	background: rgba(255,255,255,0.6);
	border: 2px ridge #222222;
	border-left: none;
	border-right: none;
	color: #000000;
	margin: 4px 0;
	padding: 3px 0 2px;
}

.regionCity .heroBusyView {
	background: rgba(255,255,255,0.6);
	border: 1px ridge #222222;
	margin: 1px;
	width: 137px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.regionCity .heroBusyView .heroAwayViewBioShortcut {
	right: 6px;
}

.regionCity .heroBusyView .heroAwayViewDefenseShortcut {
	right: 44px;
}